.nav-container{
    display: flex;
    justify-content: space-between;
    margin: 0;
    background-color: #ffffff;
    border: none;
    padding: 30px;
}
.nav a{
    padding:26px ;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    color: black;
    font-weight: 550;
    transition: 0.4s;
    margin: 0;
}
.nav a:hover{
    text-decoration: underline 3px;
    color: red;
}
.logo{
    text-decoration: none;
    font-size: 30px;
    font-family: arial;
    font-weight: 600;
    color: red;
}
 .contact{
    font-size: 28px;
    font-weight: 600;
    text-decoration: none;
    color: blue;
    border: 2px solid orangered;
    border-radius: 8px;
    padding: 5px;
    text-align: center;
    transition: 0.4s;
 }
 .contact:hover{
    background-color: red;
    color: white;
    border-color: blue;
 }
 .home{
    height: 100vh;
    display: flex;
    background-color:white;

 }
 .title{
    display: block;
    height: 100vh;
    margin: 15% 0 0 5%;
    font-family: Arial, Helvetica, sans-serif;
 }
 div .title p{
    display: inline-block;
    font-size: 2rem;
    margin: 0;
 }
 div .title h1{
    font-size: 4rem;
    margin: 0 0 20px 0;

 }
 div .title h3{
    font-size: 2.3rem;
    line-height: 3px;

 }
 .qualification{
    display:flex;
 }
.year{
    margin-left: 15%;
}
.year h1{
    font-size: 10rem;
    margin-bottom: 0;
    line-height: 95px;
}
.year p{
    font-size: 50px;
    margin-top: 0;
}
.detail{
    width: 400px;
    margin: 70px 0 0 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 550;
    line-height: 1.5;
    letter-spacing: 1.5px;
}
.grid-image{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 35px;
}
.item1{
    width: 200px;
    border-radius: 10px;
    margin: 30px;
}
.skill{
    display: inline-block;
}
.skill h1{
    font-size: 55px;
}
.skill p{
    font-size: 18px;
    font-family: arial;
    width: 450px;
    color: rgb(96, 96, 96);
}
.btn{
    display: inline-block;
    /* gap: 25px; */
    /* outline: 2px solid; */
}
.btn1{
    font-size: 35px;
    padding: 10px 50px;
    border: none;
    border-radius: 10px;

}
.btn1:hover{
    background-color: red;
    border-radius: 10px;
    color: wheat;
    font-family: Arial, Helvetica, sans-serif;
}
.btn2{
    font-size: 35px;
    padding: 10px 50px;
    border: none;
    transition: 0.4s;
    border-radius: 10px;
}
.btn2:hover{
    background-color: blue;
    border-radius: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.contact-form h2{
    text-align: center;
    margin-top: 3em;
    margin-bottom: 1em;
    font-size: 36px;
}
.contact-form form{
    max-width: 40em;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3em;
}
.contact-form form .input-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.contact-form form .input-box input,
.contact-form form textarea{
    width: 100%;
    padding: 1.3em;
    font-size: 18px;
    color: black;
    background-color: aliceblue;
    border-radius: .8rem;
    margin: 1rem 0;
    resize: none;
}
footer{
    background-color: black;
    padding: 25px;
    color: white;
    font-family: arial;
    font-size: 18px;
}
span{
    color: yellow;
    float: right;
}
span:hover{
    text-decoration: underline 2px;
    
}